@{
	ViewData["Title"] = "Giới thiệu";
}

<h1 style="text-align: center; font-weight: bold; margin-top: 50px; color: white; background-color: darkblue; padding-top: 10px; padding-bottom: 10px;">GIỚI THIỆU</h1>

<div class="row" style="margin-top: 50px;">
	<div class="col-md-9" style="text-align: justify">
		<h2 style="font-weight: bold;">1. Giới thiệu chung</h2>
		<p>
			Nhà xuất bản Kim Đồng là nhà xuất bản chuyên về sách văn học thiếu nhi của Việt Nam 
			được thành lập vào ngày 15 tháng 6 năm 1956 tại Hà Nội. Ngoài ra, Kim Đồng còn hợp 
			tác với hơn 70 nhà xuất bản trên thế giới có thể kể đến như Dorling Kindersley, 
			HarperCollins UK, Simon and Schuster UK, Dami International, Shogakukan, Kodansha, 
			Shuiesha, Square Enix, nhà xuất bản Seoul và nhà xuất bản Neung-In (Hàn Quốc).
		</p>
		<p>
			Hiện nay, nhà xuất bản Kim Đồng có trụ sở chính ở Hà Nội cùng hai chi nhánh đặt tại
			Đà Nẵng và Thành phố Hồ Chí Minh.
		</p>
	</div>
	<div class="col-md-3">
		<img src="https://upload.wikimedia.org/wikipedia/vi/thumb/3/3b/Logo_nxb_Kim_%C4%90%E1%BB%93ng.png/330px-Logo_nxb_Kim_%C4%90%E1%BB%93ng.png" style="max-width: 100%;"/>
		<p style="text-align: center">
			<em>Logo NXB Kim Đồng</em>
		</p>
	</div>
</div>

<div style="text-align: justify">
	<h2 style="font-weight: bold;">2. Lịch sử</h2>
	<p>
		Sau khi thành lập vào năm 1945, chính phủ Việt Nam Dân chủ Cộng hòa đã quan tâm đến việc
		chăm sóc và giáo dục thiếu niên - nhi đồng Việt Nam và xem văn học và nghệ thuật là khâu
		quan trọng trong các phương tiện giáo dục thế hệ thanh thiếu nhi.
	</p>
	<p>
		Trong những năm 1945 - 1946, các loại sách như "Gương chiến đấu" của Hội Văn hóa Cứu quốc
		và của Nhà xuất bản Cứu Quốc (cơ quan Mặt trận Việt Minh) đã được xuất bản tại Hà Nội.
		Năm 1948, "Tủ sách Kim Đồng", "Hoa kháng chiến" do Hội Văn nghệ, Đoàn Thanh niên Lao động
		và Hội Phụ nữ Việt Nam cùng phối hợp xuất bản ở chiến khu Việt Bắc. Tuy không in được nhiều,
		phát hành chưa rộng rãi nhưng đã có những đóng góp bước đầu cho văn học thiếu nhi Việt Nam.
	</p>
	<p>
		Sau năm 1954, "Tủ sách Kim Đồng" được tiếp tục xuất bản do Nhà xuất bản Thanh Niên (thuộc Trung
		ương Đoàn Thanh niên Lao động Việt Nam) phụ trách.
	</p>
	<p>
		Tại Đại hội Văn nghệ toàn quốc Việt Nam lần thứ II (tháng 2 năm 1957) đã đề ra nhiệm vụ sáng tác
		và xuất bản sách phục vụ thiếu nhi. Từ đó đã tiến hành bàn bạc và chuẩn bị cho sự ra đời một Nhà
		xuất bản sách cho thiếu nhi Việt Nam.
	</p>
	<p>
		Ngày 16 tháng 3 năm 1957, tại trụ sở Hội Văn nghệ Việt Nam, Trung ương Đoàn Thanh niên Lao động,
		Hội Nhà văn và Bộ Giáo dục gồm 12 thành viên đặt nền móng cho Nhà xuất bản là: Hồ Trúc, Cao Ngọc
		Thọ, Hồ Thiện Ngôn, Lưu Hữu Phước, Tô Hoài, Nguyễn Huy Tưởng, Nguyễn Xuân Sanh, Phan Huỳnh Điểu,
		Xuân Tửu, Phạm Hổ, Thy Thy Tống Ngọc, Nguyễn Văn Phú đã họp phiên đầu tiên để bàn việc thành lập
		một Nhà xuất bản sách cho thiếu nhi.
	</p>
	<div class="row">
		<div class="col-md-9">
			<p>
				Ngày thành lập chính thức của Nhà xuất bản Kim Đồng là ngày 17 tháng 6 năm 1957. Cái tên
				"Kim Đồng" được lấy theo đề xuất của nhà văn Tô Hoài: kế thừa Tủ sách Kim Đồng đã xuất bản
				trong kháng chiến chống Pháp. Kim Đồng vốn là hình ảnh một em bé người dân tộc Nùng tham
				gia kháng chiến chống Pháp.
			</p>
			<P>
				Trụ sở đầu tiên và cũng là trụ sở chính của nhà xuất bản là ở số 55 phố Quang Trung, quận
				Hai Bà Trưng, thành phố Hà Nội.
			</P>
		</div>
		<div class="col-md-3">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Kim_Dong_Bookstore%2C_55_Quang_Trung.jpg/330px-Kim_Dong_Bookstore%2C_55_Quang_Trung.jpg" style="max-width: 100%;" />
			<p style="text-align: center">
				<em>Nhà sách tại trụ sở NXB Kim Đồng</em>
			</p>
		</div>
	</div>
</div>

<div style="text-align: justify">
	<h2 style="font-weight: bold;">3. Tác phẩm tiêu biểu</h2>
	<div class="row">
		<div class="col-md-3">
			<img src="https://product.hstatic.net/200000343865/product/1_9544a3ba5bd64806ab59f7fd9fafcf13_ea18ba498dbf48458655f34dd7c049e8_master.jpg" style="max-width: 100%;" />
			<p style="text-align: center">
				<em>Doraemon - Chú mèo máy đã trở thành tuổi thơ của bao thế hệ</em>
			</p>
		</div>
		<div class="col-md-9">
			<p>
				Nhà xuất bản Kim Đồng đã cho ra mắt bạn đọc thiếu nhi Việt Nam nhiều tác phẩm văn học Việt Nam
				và truyện tranh nước ngoài. Nhà xuất bản Kim Đồng cũng là một trong những nhà xuất bản truyện 
				tranh lớn nhất Việt Nam.[1] Kim Đồng thường mua bản quyền tác phẩm từ các đối tác Nhật Bản, 
				Hàn Quốc, Đài Loan, Hồng Kông và đã xuất bản nhiều bộ truyện tranh được đông đảo bạn đọc trên
				thế giới đón nhận nồng nhiệt. Lượng xuất bản trung bình của một tập truyện tranh nước ngoài vào
				khoảng 5,000~10,000 cuốn.
			</p>
			<p>
				Một số tác phẩm tiêu biểu:
			</p>
			<p> - Dế Mèn phiêu lưu ký</p>
			<p> - Đất rừng phương Nam</p>
			<p> - Doraemon</p>
			<p> - Thám tử lừng danh Conan</p>
			<p> - ONE PIECE</p>
			<p> - ...</p>
		</div>
	</div>
</div>
	

