<h1 style="text-align: center; font-weight: bold; margin-top: 50px; color: white; background-color: darkblue; padding-top: 10px; padding-bottom: 10px;">GIỚI THIỆU</h1>

<div class="row" style="margin-top: 50px;">
	<div class="col-md-9" style="text-align: justify">
		<h2 style="font-weight: bold;">1. Giới thiệu chung</h2>
		<p>
			Nhà xuất bản Kim Đồng là nhà xuất bản chuyên về sách văn học thiếu nhi của Việt Nam 
			được thành lập vào ngày 15 tháng 6 năm 1956 tại Hà Nội. Ngoài ra, Kim Đồng còn hợp 
			tác với hơn 70 nhà xuất bản trên thế giới có thể kể đến như Dorling Kindersley, 
			HarperCollins UK, Simon and Schuster UK, Dami International, Shogakukan, Kodansha, 
			Shuiesha, Square Enix, nhà xuất bản Seoul và nhà xuất bản Neung-In (Hàn Quốc).
		</p>
		<p>
			Hiện nay, nhà xuất bản Kim Đồng có trụ sở chính ở Hà Nội cùng hai chi nhánh đặt tại
			Đà Nẵng và Thành phố Hồ Chí Minh.
		</p>
	</div>
	<div class="col-md-3">
		<img src="https://upload.wikimedia.org/wikipedia/vi/thumb/3/3b/Logo_nxb_Kim_%C4%90%E1%BB%93ng.png/330px-Logo_nxb_Kim_%C4%90%E1%BB%93ng.png" style="max-width: 100%;"/>
		<p style="text-align: center">
			<em>Logo NXB Kim Đồng</em>
		</p>
	</div>
</div>
